.animal-list > tbody > tr > td:first-child {
    font-weight: bold;
}

body {
    font-family: sans-serif;
}

p {
    font-size: 14px;
}

a {
    color: #339933;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    font-size: 14px;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 5px;
}

input[type="button"], input[type="submit"] {
    background: #3366cc;
    color: white;
    font-weight: bold;
    cursor: pointer;
}