.animal-list > tbody > tr > td:first-child {
    font-weight: bold;
}

body {
    font-family: sans-serif;
}

p {
    font-size: 14px;
}

a {
    color: #339933;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    text-align: center;
}

td, th {
    text-align: left;
}

table {
    min-width: 500px;
}

label {
    display: inline-block;
    width: 200px;
    font-weight: bold;
}