.animal-list > tbody > tr > td:first-child {
    font-weight: bold;
}

body {
    font-family: sans-serif;
}

p {
    font-size: 14px;
}

a {
    color: #339933;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}