@{
    ViewBag.Title = "Home Page";
}
<h1 class="title">Dieren zijn zeg maar echt ons ding</h1>
<p>
    Welkom bij de pagina van ons dierenasiel. Dieren zijn zegmaar echt ons ding.
</p>
<h2>Welke dieren hebben wij?</h2>
<p>
    Wij bieden onderdak aan de volgende dieren:
</p>
<ul>
    <li>Honden</li>
    <li>Katten</li>
</ul>
<p>
    Kijk gerust eens in het @Html.ActionLink("overzicht", "Index", "Dieren") van onze aanwezige dieren.
</p>